@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heroImage {
	width: 100%;
	height: 988px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(./assets/images/hero-bg-image.jpg);
	/* background-position: center; */
	background-size: cover;
	background-repeat: no-repeat;
}
